@{
	ViewData["Title"] = "Cart";
}
<h1>@ViewData["Title"]</h1>


<br/>
<div class="row">
	<table class="table table-bordered">
		<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Price</th>
			<th>Image</th>
		</tr>
		</thead>
 @*  <tbody>
			@foreach (var item in Model.ProductList)
			{
				<tr>
					<td>@item.ProductId</td>
					<td>@item.ProductName</td>
					<td>@item.Price</td>
					<td>@item.Image</td>
				</tr>
			}
		</tbody>*@
	</table>
</div>
<div class="row">
	<div class="col-6">
		<a asp-action="Index" asp-controller="Home" class="btn btn-success">Back to Home</a>
	</div>
	<div class="col-6 text-right">
		<h3>Total Amount</h3>
	   @* <h3>Grant Total : @Model.Sum(c=>c.Price) </h3>*@
		<a asp-area="Customer" asp-action="Checkout" asp-controller="Order" class="btn btn-info">Process to Checkout</a>
	</div>
</div>